# =========================
# Node
# =========================
node_modules/
**/node_modules/

dist/
**/dist/

npm-debug.log*
yarn-error.log*

# =========================
# Angular
# =========================
.angular/
frontend/.angular/

coverage/
frontend/coverage/

# =========================
# NestJS
# =========================
backend/dist/

# =========================
# Environment files
# =========================
.env
**/.env

# =========================
# Docker
# =========================
postgres_data/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db