<div class="upcoming-exam" *ngIf="!loading">
  <ng-container *ngIf="nextExam; else empty">
    <span class="upcoming-exam__label">Upcoming Exam</span>
    <span class="upcoming-exam__exercise">{{ exerciseLabels[nextExam.exerciseType] }}</span>
    <span class="upcoming-exam__time">{{ nextExam.scheduledAt | date: 'MMM d, y · h:mm a' }}</span>
    <span class="upcoming-exam__status" [class]="'is-' + nextExam.status">{{ nextExam.status }}</span>
  </ng-container>

  <ng-template #empty>
    <span class="upcoming-exam__label">Upcoming Exam</span>
    <p class="upcoming-exam__none">
      {{ isSupervisor ? 'No exams scheduled.' : 'No exam scheduled yet.' }}
    </p>
  </ng-template>
</div>
