<div class="upcoming-exam">
    <ng-container *ngIf="upcomingExams$ | async as exams">
        <ng-container *ngIf="exams.length > 0; else empty">
            <div class="upcoming-exam__item" *ngFor="let exam of exams">
                <span class="upcoming-exam__exercise">{{
                    exerciseLabels[exam.exerciseType]
                }}</span>
                <span class="upcoming-exam__time">{{
                    exam.scheduledAt | date : "d MMM, y · HH:mm"
                }}</span>
            </div>
        </ng-container>

        <ng-template #empty>
            <p class="upcoming-exam__none">
                {{
                    isSupervisor
                        ? "No exams scheduled."
                        : "No exam scheduled yet."
                }}
            </p>
        </ng-template>
    </ng-container>
</div>
