.layout__grid {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    @media (max-width: 1024px) {
        gap: 24px;
    }

    @media (max-width: 868px) {
        flex-direction: column;
        align-items: stretch;
    }
}

.layout__main {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.layout__aside {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 360px;
}

.upcoming-exam__label {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 600;
}
