.layout__grid {
    display: flex;
    align-items: flex-start;
    gap: 100px
}

.layout__main {
    min-width: 0;

}

.layout__aside {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 240px;
}
