<div class="layout">
  <app-sidebar></app-sidebar>

  <main class="layout__content" *ngIf="user">
    <h1 class="layout__title">Welcome, {{ user.firstName }} {{ user.lastName }}</h1>
    <p class="layout__subtitle">{{ user.role }}</p>

    <div class="layout__grid">
      <section class="layout__main">
      </section>

      <aside class="layout__aside">
        <app-calendar [exams]="exams"></app-calendar>
        <app-activity-log *ngIf="user.role === 'supervisor'"></app-activity-log>
      </aside>
    </div>
  </main>
</div>
